@* Passo: 5. *@
@{
    Layout = "../Shared/_MeuLayout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">DA2_2020_LABCOMPRAS</h1>
    <p class="lead">Some Bullshit</p>
    <hr class="my-4">
    <p></p>
    <p class="lead text-center">
        <a class="btn btn-primary btn-lg" href="/Home" role="button">Home Page</a>
    </p>
</div>
