@* Passo 3. *@
@{
    Layout = "../Shared/_MeuLayout.cshtml";
}

@* Passo: 4. *@
<div class="jumbotron">
    <h1 class="display-4">DA2_2020_LABCOMPRAS</h1>
    <p class="lead">Some Bullshit</p>
    <hr class="my-4">
    <p></p>
    <p class="lead text-center">
        <a class="btn btn-primary btn-lg" href="/Home/Conceito" role="button">Conceitos</a>
    </p>
</div>